In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../cleaned_datasets/immigration_statistics_d1.csv')
df.head()

,Canadian Province/CMA,Country,Continent,Gender,Population
0,Newfoundland and Labrador,United States of America,North America,Men+,75
1,Newfoundland and Labrador,Mexico,North America,Men+,15
2,Newfoundland and Labrador,Jamaica,North America,Men+,65
3,Newfoundland and Labrador,Trinidad and Tobago,North America,Men+,15
4,Newfoundland and Labrador,Brazil,South America,Men+,10

In [3]:
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Montr√©al (CMA), Que.', 'Montreal (CMA), Que.')
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Montréal (CMA)', 'Montreal (CMA), Que.')
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Trois-Rivi√®res (CMA), Que.', 'Trois-Rivieres, Que.')
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Qu√©bec (CMA), Que.,', 'Quebec (CMA), Que.,')
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Qu√©bec (CMA), Que.,', 'Quebec (CMA), Que.,')
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Québec (CMA), Que.', 'Quebec (CMA), Que.,')
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace('Trois-Rivières (CMA), Que.', 'Trois-Rivieres, Que.')

In [4]:
# Renaming CMA's
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("St. John's (CMA), N.L.", "St. John's")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Regina (CMA), Sask.", "Regina")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Saskatoon (CMA), Sask.", "Saskatoon")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Halifax (CMA), N.S.", "Halifax")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Fredericton (CMA), N.B.", "Fredericton")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Moncton (CMA), N.B.", "Moncton")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Saint John (CMA), N.B.", "Saint John")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Winnipeg (CMA), Man.", "Winnipeg")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Calgary (CMA), Alta.", "Calgary")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Edmonton (CMA), Alta.", "Edmonton")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Lethbridge (CMA), Alta.", "Lethbridge")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Red Deer (CMA), Alta.", "Red Deer")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Abbotsford - Mission (CMA), B.C.", "Abbotsford")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Chilliwack (CMA), B.C.", "Chilliwack")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Kamloops (CMA), B.C.", "Kamloops")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Kelowna (CMA), B.C.", "Kelowna")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Nanaimo (CMA), B.C.", "Nanaimo")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Vancouver (CMA), B.C.", "Vancouver")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Victoria (CMA), B.C.", "Victoria")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Drummondville (CMA), Que.", "Drummondville")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Montréal (CMA), Que.", "Montreal")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Ottawa - Gatineau (Quebec part)", "Ottawa")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Quebec (CMA), Que.,", "Quebec")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Saguenay (CMA), Que.", "Saguenay")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Sherbrooke (CMA), Que.", "Sherbrooke")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Trois-Rivieres, Que.", "Trois-Rivieres")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Barrie (CMA), Ont.", "Barrie")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Belleville - Quinte West (CMA), Ont.", "Belleville")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Brantford (CMA), Ont.", "Brantford")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Greater Sudbury (CMA), Ont.", "Greater Sudbury")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Guelph (CMA), Ont.", "Guelph")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Hamilton (CMA), Ont.", "Hamilton")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Kingston (CMA), Ont.", "Kingston")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Kitchener - Cambridge - Waterloo (CMA), Ont.", "Kitchener")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("London (CMA), Ont.", "London")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Oshawa (CMA), Ont.", "Oshawa")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Ottawa - Gatineau (Ontario part) (CMA), Ont.", "Ottawa")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Ottawa - Gatineau (CMA), Ont./Que.", "Ottawa")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Ottawa - Gatineau (Quebec part) (CMA), Que.", "Ottawa")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Peterborough (CMA), Ont.", "Peterborough")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("St. Catharines - Niagara (CMA), Ont.", "St. Catharines")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Thunder Bay (CMA), Ont.", "Thunder Bay")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Toronto (CMA), Ont.", "Toronto")
df['Canadian Province/CMA'] = df['Canadian Province/CMA'].replace("Windsor (CMA), Ont.", "Windsor")

In [5]:
df['Canadian Province/CMA'].unique()

array(['Newfoundland and Labrador', "St. John's", 'Prince Edward Island',
       'Nova Scotia', 'Halifax', 'New Brunswick', 'Fredericton',
       'Moncton', 'Saint John', 'Quebec', 'Drummondville', 'Montreal',
       'Saguenay', 'Sherbrooke', 'Trois-Rivieres', 'Ontario', 'Barrie',
       'Belleville', 'Brantford', 'Greater Sudbury', 'Guelph', 'Hamilton',
       'Kingston', 'Kitchener', 'London', 'Oshawa', 'Ottawa',
       'Peterborough', 'St. Catharines', 'Thunder Bay', 'Toronto',
       'Windsor', 'Manitoba', 'Winnipeg', 'Saskatchewan', 'Regina',
       'Saskatoon', 'Alberta', 'Calgary', 'Edmonton', 'Lethbridge',
       'Red Deer', 'British Columbia', 'Abbotsford', 'Chilliwack',
       'Kamloops', 'Kelowna', 'Nanaimo', 'Vancouver', 'Victoria', 'Yukon',
       'Northwest Territories', 'Nunavut'], dtype=object)

In [6]:
province_names = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Northwest Territories', 
'Nova Scotia', 'Nunavut' , 'Ontario', 'Quebec', 'Prince Edward Island', 'Saskatchewan', 'Yukon']

In [7]:
# Selecting only CMAs
no_province_df = df[~df['Canadian Province/CMA'].str.contains('|'.join(province_names), case=False)]
no_province_df

,Canadian Province/CMA,Country,Continent,Gender,Population
181,St. John's,United States of America,North America,Men+,55
182,St. John's,Jamaica,North America,Men+,55
183,St. John's,Trinidad and Tobago,North America,Men+,10
184,St. John's,Brazil,South America,Men+,10
185,St. John's,Colombia,South America,Men+,10
...,...,...,...,...,...
15139,Victoria,Bangladesh,Asia,Women+,30
15140,Victoria,India,Asia,Women+,535
15141,Victoria,Nepal,Asia,Women+,25
15142,Victoria,Pakistan,Asia,Women+,40
15143,Victoria,Sri Lanka,Asia,Women+,10

In [8]:
new_df = no_province_df.rename(columns={'Canadian Province/CMA': 'Canadian CMA'})
new_df

,Canadian CMA,Country,Continent,Gender,Population
181,St. John's,United States of America,North America,Men+,55
182,St. John's,Jamaica,North America,Men+,55
183,St. John's,Trinidad and Tobago,North America,Men+,10
184,St. John's,Brazil,South America,Men+,10
185,St. John's,Colombia,South America,Men+,10
...,...,...,...,...,...
15139,Victoria,Bangladesh,Asia,Women+,30
15140,Victoria,India,Asia,Women+,535
15141,Victoria,Nepal,Asia,Women+,25
15142,Victoria,Pakistan,Asia,Women+,40
15143,Victoria,Sri Lanka,Asia,Women+,10

In [9]:
new_df.to_csv('Canadian_CMA_Data.csv', index = False)

In [10]:
# provinces_to_cma = {
#     'Alberta':['Calgary','Edmonton','Lethbridge','Red Deer'],

#     'British Columbia' : ['Abbotsford' , 'Chilliwack' , 'Kamloops', 'Kelowna', 'Nanaimo', 'Vancouver', 'Victoria'],

#     'Manitoba': ['Winnipeg'],

#     'New Brunswick': ['Fredericton', 'Moncton', 'Saint John'],

#     'Newfoundland and Labrador': ['Newfoundland and Labrador'],

#     'Northwest Territories': ['Northwest Territories'],

#     'Nova Scotia': ['Halifax'],

#     'Nunavut' : ['Nunavut'],

#     'Prince Edward Island': ['Prince Edward Island'], 

#     'Saskatchewan':['Regina', 'Saskatoon'],

#     'Yukon': ['Yukon'],

#     'Quebec': ['Drummondville', 'Montreal',  'Quebec', 
#             'Saguenay', 'Sherbrooke', 'Trois-Rivieres'],
    
#     'Ontario': ['Barrie', 'Belleville', 'Brantford,' 'Greater Sudbury',
#             'Guelph', 'Hamilton','Kingston', 'Kitchener',
#             'London', 'Oshawa', 'Ottawa', 'Peterborough',
#             'St. Catharines', 'Thunder Bay', 'Toronto', 'Windsor']
# }

In [11]:
## CMA to province map

provinces_to_cma = {
    'Alberta':['Calgary','Edmonton','Lethbridge','Red Deer'],

    'British Columbia' : ['Abbotsford' , 'Chilliwack' , 'Kamloops', 'Kelowna', 'Nanaimo', 'Vancouver', 'Victoria'],

    'Manitoba': ['Winnipeg'],

    'New Brunswick': ['Fredericton', 'Moncton', 'Saint John'],

    'Newfoundland and Labrador': ["St. John's"],

    'Nova Scotia': ['Halifax'],

    'Nunavut' : ['Nunavut'],

    'Northwest Territories': ['Northwest Territories'],

    'Prince Edward Island': ['Prince Edward Island'], 
    
    'Yukon': ['Yukon'],

    'Saskatchewan':['Regina', 'Saskatoon'],

    'Quebec': ['Drummondville', 'Montreal',  'Quebec', 
            'Saguenay', 'Sherbrooke', 'Trois-Rivieres'],
    
    'Ontario': ['Barrie', 'Belleville', 'Brantford,' 'Greater Sudbury',
            'Guelph', 'Hamilton','Kingston', 'Kitchener',
            'London', 'Oshawa', 'Ottawa', 'Peterborough',
            'St. Catharines', 'Thunder Bay', 'Toronto', 'Windsor']
}

In [12]:
new_df['Province'] = new_df['Canadian CMA'].map({cma: province for province, cmas in provinces_to_cma.items() for cma in cmas})
new_df.head()

,Canadian CMA,Country,Continent,Gender,Population,Province
181,St. John's,United States of America,North America,Men+,55,Newfoundland and Labrador
182,St. John's,Jamaica,North America,Men+,55,Newfoundland and Labrador
183,St. John's,Trinidad and Tobago,North America,Men+,10,Newfoundland and Labrador
184,St. John's,Brazil,South America,Men+,10,Newfoundland and Labrador
185,St. John's,Colombia,South America,Men+,10,Newfoundland and Labrador

In [13]:
new_df[new_df['Province']== 'Newfoundland and Labrador']

,Canadian CMA,Country,Continent,Gender,Population,Province
181,St. John's,United States of America,North America,Men+,55,Newfoundland and Labrador
182,St. John's,Jamaica,North America,Men+,55,Newfoundland and Labrador
183,St. John's,Trinidad and Tobago,North America,Men+,10,Newfoundland and Labrador
184,St. John's,Brazil,South America,Men+,10,Newfoundland and Labrador
185,St. John's,Colombia,South America,Men+,10,Newfoundland and Labrador
...,...,...,...,...,...,...
330,St. John's,Viet Nam,Asia,Women+,15,Newfoundland and Labrador
331,St. John's,Bangladesh,Asia,Women+,30,Newfoundland and Labrador
332,St. John's,India,Asia,Women+,65,Newfoundland and Labrador
333,St. John's,Pakistan,Asia,Women+,40,Newfoundland and Labrador
334,St. John's,Sri Lanka,Asia,Women+,10,Newfoundland and Labrador

In [14]:
## Top CMAs grouped by Countries having greatest population
cma_group = new_df.groupby(['Canadian CMA', 'Country']).sum().sort_values(by = "Population", ascending = False)
cma_group

                          Population
Canadian CMA Country
Toronto      India            205195
             China             87450
             Philippines       66875
Vancouver    India             59730
             China             56535
...                              ...
             Paraguay             10
Halifax      Switzerland          10
Kelowna      Spain                10
Barrie       El Salvador          10
Kelowna      Kenya                10

[2801 rows x 1 columns]