In [1]:
import pandas as pd

In [2]:
edu_df = pd.read_csv('immigrant_education_employment_d2.csv', error_bad_lines=False)

<ipython-input-2-ab390f0152e4>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  edu_df = pd.read_csv('immigrant_education_employment_d2.csv', error_bad_lines=False)

In [3]:
edu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274248 entries, 0 to 274247
Data columns (total 21 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   REF_DATE                                         274248 non-null  int64
 1   GEO                                              274248 non-null  object
 2   DGUID                                            274248 non-null  object
 3   Immigrant status and period of immigration (11)  274248 non-null  object
 4   Highest certificate, diploma or degree (7)       274248 non-null  object
 5   Age (15A)                                        274248 non-null  object
 6   Gender (3)                                       274248 non-null  object
 7   Statistics (3)                                   274248 non-null  object
 8   Visible minority (15)                            274248 non-null  object
 9   Labour force status (8)                          274248 non-null  object
 10  UOM                                              0 non-null       float64
 11  UOM_ID                                           274248 non-null  int64
 12  SCALAR_FACTOR                                    274248 non-null  object
 13  SCALAR_ID                                        274248 non-null  int64
 14  VECTOR                                           0 non-null       float64
 15  COORDINATE                                       274248 non-null  object
 16  VALUE                                            274248 non-null  float64
 17  STATUS                                           0 non-null       float64
 18  SYMBOL                                           0 non-null       float64
 19  TERMINATED                                       0 non-null       float64
 20  DECIMALS                                         274248 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 43.9+ MB

In [ ]:
edu_df.head()

In [5]:
edu_df.columns

Index(['REF_DATE', 'GEO', 'DGUID',
       'Immigrant status and period of immigration (11)',
       'Highest certificate, diploma or degree (7)', 'Age (15A)', 'Gender (3)',
       'Statistics (3)', 'Visible minority (15)', 'Labour force status (8)',
       'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
       'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [23]:
filtered_df = edu_df[['GEO', 'Immigrant status and period of immigration (11)', 'Visible minority (15)',
       'Highest certificate, diploma or degree (7)', 'Gender (3)', 'Labour force status (8)','VALUE']]

In [36]:
filtered_df.head(10)

,GEO,Visible minority (15),"Highest certificate, diploma or degree (7)",Gender (3),Labour force status (8),VALUE
3713,Newfoundland and Labrador,South Asian,"No certificate, diploma or degree",Men+,Total - Labour force status,25.0
3714,Newfoundland and Labrador,South Asian,"No certificate, diploma or degree",Men+,Not in the labour force,15.0
3715,Newfoundland and Labrador,South Asian,"No certificate, diploma or degree",Men+,Participation rate,0.0
3716,Newfoundland and Labrador,South Asian,"No certificate, diploma or degree",Men+,Employment rate,0.0
3717,Newfoundland and Labrador,South Asian,"No certificate, diploma or degree",Men+,Unemployment rate,0.0
3718,Newfoundland and Labrador,Chinese,"No certificate, diploma or degree",Men+,Participation rate,0.0
3719,Newfoundland and Labrador,Chinese,"No certificate, diploma or degree",Men+,Employment rate,0.0
3720,Newfoundland and Labrador,Chinese,"No certificate, diploma or degree",Men+,Unemployment rate,0.0
3721,Newfoundland and Labrador,Black,"No certificate, diploma or degree",Men+,Total - Labour force status,65.0
3722,Newfoundland and Labrador,Black,"No certificate, diploma or degree",Men+,In the labour force,20.0

In [25]:
filtered_df['Immigrant status and period of immigration (11)'].unique()

array(['Total - Immigrant status and period of immigration',
       '2016 to 2021'], dtype=object)

In [26]:
filtered_df['Visible minority (15)'].unique()

array(['Total - Visible minority', 'Total visible minority population',
       'South Asian', 'Chinese', 'Black', 'Filipino', 'Arab',
       'Latin American', 'Southeast Asian', 'West Asian', 'Korean',
       'Japanese', 'Visible minority, n.i.e.',
       'Multiple visible minorities'], dtype=object)

In [31]:
filtered_df['Gender (3)'].unique()

array(['Men+ ', 'Women+ '], dtype=object)

In [32]:
filtered_df['Labour force status (8)'].unique()

array(['Total - Labour force status', 'In the labour force', 'Employed',
       'Unemployed', 'Not in the labour force', 'Participation rate',
       'Employment rate', 'Unemployment rate'], dtype=object)

In [33]:
#remove rows with 'GEO' in the column 

filtered_df = filtered_df[filtered_df['GEO'] != 'Canada']

In [27]:
#remove rows with 'Total - Immigrant status and period of immigration' in the column 

filtered_df = filtered_df[filtered_df['Immigrant status and period of immigration (11)'] != 'Total - Immigrant status and period of immigration']

In [28]:
#remove rows from ''Visible minority (15)' column

filtered_df = filtered_df[(filtered_df['Visible minority (15)'] != 'Total - Visible minority') & (filtered_df['Visible minority (15)'] != 'Total visible minority population')]

In [29]:
# remove column - 'Immigrant status and period of immigration (11)'

filtered_df = filtered_df[['GEO',  'Visible minority (15)',
       'Highest certificate, diploma or degree (7)', 'Gender (3)', 'Labour force status (8)','VALUE']]

In [34]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95780 entries, 3713 to 274247
Data columns (total 6 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   GEO                                         95780 non-null  object
 1   Visible minority (15)                       95780 non-null  object
 2   Highest certificate, diploma or degree (7)  95780 non-null  object
 3   Gender (3)                                  95780 non-null  object
 4   Labour force status (8)                     95780 non-null  object
 5   VALUE                                       95780 non-null  float64
dtypes: float64(1), object(5)
memory usage: 5.1+ MB

In [37]:
reshaped_df = filtered_df.pivot_table(index=['GEO', 'Visible minority (15)', 'Highest certificate, diploma or degree (7)', 'Gender (3)'],
                             columns='Labour force status (8)',
                             values='VALUE').reset_index()


sorted_columns = ['GEO', 'Visible minority (15)', 'Highest certificate, diploma or degree (7)', 'Gender (3)',
                  'Total - Labour force status', 'In the labour force', 'Employed', 'Unemployed',
                  'Not in the labour force', 'Participation rate', 'Employment rate', 'Unemployment rate']
                  
reshaped_df = reshaped_df.reindex(columns=sorted_columns)

In [41]:
reshaped_df = reshaped_df.fillna(0)

In [43]:
reshaped_df.tail()

Labour force status (8),GEO,Visible minority (15),"Highest certificate, diploma or degree (7)",Gender (3),Total - Labour force status,In the labour force,Employed,Unemployed,Not in the labour force,Participation rate,Employment rate,Unemployment rate
24907,Yukon,West Asian,High (secondary) school diploma or equivalency...,Women+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24908,Yukon,West Asian,"No certificate, diploma or degree",Men+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24909,Yukon,West Asian,"No certificate, diploma or degree",Women+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24910,Yukon,West Asian,University certificate or diploma below bachel...,Men+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24911,Yukon,West Asian,University certificate or diploma below bachel...,Women+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
reshaped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24912 entries, 0 to 24911
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   GEO                                         24912 non-null  object
 1   Visible minority (15)                       24912 non-null  object
 2   Highest certificate, diploma or degree (7)  24912 non-null  object
 3   Gender (3)                                  24912 non-null  object
 4   Total - Labour force status                 24912 non-null  float64
 5   In the labour force                         24912 non-null  float64
 6   Employed                                    24912 non-null  float64
 7   Unemployed                                  24912 non-null  float64
 8   Not in the labour force                     24912 non-null  float64
 9   Participation rate                          24912 non-null  float64
 10  Employment rate                             24912 non-null  float64
 11  Unemployment rate                           24912 non-null  float64
dtypes: float64(8), object(4)
memory usage: 2.3+ MB

In [46]:
column_name_mapping = { 
    'GEO': 'Canadian Province/CMA',
    'Visible minority (15)': 'Visible minority',
    'Gender (3)': 'Gender',
    'Highest certificate, diploma or degree (7)': 'Highest certificate, diploma or degree'
}

cleaned_df = reshaped_df.rename(columns=column_name_mapping)

In [47]:
cleaned_df.head()

Labour force status (8),Canadian Province/CMA,Visible minority,"Highest certificate, diploma or degree",Gender,Total - Labour force status,In the labour force,Employed,Unemployed,Not in the labour force,Participation rate,Employment rate,Unemployment rate
0,"Abbotsford - Mission (CMA), B.C.",Arab,Apprenticeship or trades certificate or diploma,Men+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Abbotsford - Mission (CMA), B.C.",Arab,Apprenticeship or trades certificate or diploma,Women+,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Abbotsford - Mission (CMA), B.C.",Arab,Bachelor's degree or higher,Men+,15.0,15.0,15.0,0.0,0.0,100.0,100.0,0.0
3,"Abbotsford - Mission (CMA), B.C.",Arab,Bachelor's degree or higher,Women+,10.0,10.0,10.0,0.0,0.0,100.0,100.0,0.0
4,"Abbotsford - Mission (CMA), B.C.",Arab,"College, CEGEP or other non-university certifi...",Men+,10.0,10.0,10.0,0.0,0.0,100.0,100.0,0.0

In [48]:
cleaned_df.columns

Index(['Canadian Province/CMA', 'Visible minority',
       'Highest certificate, diploma or degree', 'Gender',
       'Total - Labour force status', 'In the labour force', 'Employed',
       'Unemployed', 'Not in the labour force', 'Participation rate',
       'Employment rate', 'Unemployment rate'],
      dtype='object', name='Labour force status (8)')

In [50]:
cleaned_df.to_csv('immigrant_education_statistics_d2.csv', index=False)